[submodule "bundle/camelcasemotion"]
	path = bundle/camelcasemotion
	url = https://github.com/travisjeffery/camelcasemotion.git
	ignore = dirty
[submodule "bundle/matchit"]
	path = macros/matchit/
	url = https://github.com/tmhedberg/matchit.git
	ignore = dirty
[submodule "bundle/molokai"]
	path = bundle/molokai
	url = https://github.com/tomasr/molokai.git
	ignore = dirty
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
	ignore = dirty
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
	ignore = dirty
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
	ignore = dirty
[submodule "bundle/solarized"]
	path = bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
	ignore = dirty
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
	ignore = dirty
[submodule "bundle/vim-github-colorscheme"]
	path = bundle/vim-github-colorscheme
	url = https://github.com/endel/vim-github-colorscheme.git
	ignore = dirty
[submodule "bundle/vim-statline"]
	path = bundle/vim-statline
	url = https://github.com/ldx/vim-statline.git
	ignore = dirty
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
	ignore = dirty
[submodule "bundle/neocomplcache"]
	path = bundle/neocomplcache
	url = https://github.com/Shougo/neocomplcache.git
	ignore = dirty
[submodule "bundle/calendar-vim"]
	path = bundle/calendar-vim
	url = https://github.com/mattn/calendar-vim.git
	ignore = dirty
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = git://github.com/godlygeek/tabular.git
	ignore = dirty
[submodule "bundle/FuzzyFinder"]
	path = bundle/FuzzyFinder
	url = git://github.com/vim-scripts/FuzzyFinder.git
	ignore = dirty
[submodule "bundle/L9"]
	path = bundle/L9
	url = git://github.com/vim-scripts/L9.git
	ignore = dirty
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
	ignore = dirty
[submodule "bundle/ri"]
	path = bundle/ri
	url = git://github.com/danchoi/ri.vim.git
	ignore = dirty
[submodule "bundle/mayansmoke"]
	path = bundle/mayansmoke
	url = git://github.com/vim-scripts/mayansmoke.git
	ignore = dirty
[submodule "bundle/vim-pyte"]
	path = bundle/vim-pyte
	url = git://github.com/therubymug/vim-pyte.git
	ignore = dirty
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
	ignore = dirty
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
	ignore = dirty
[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
	ignore = dirty
[submodule "bundle/sparkup"]
	path = bundle/sparkup
	url = git://github.com/rstacruz/sparkup.git
	ignore = dirty
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
	ignore = dirty
