[submodule "bundle/camelcasemotion"]
	path = bundle/camelcasemotion
	url = https://github.com/travisjeffery/camelcasemotion.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = https://github.com/tmhedberg/matchit.git
[submodule "bundle/molokai"]
	path = bundle/molokai
	url = https://github.com/tomasr/molokai.git
